.heroes {
  font-size: 3rem;
  margin-left: 50px;
  margin-top: 50px;

}

td img {
  width: 190px;
  height: 190px;
  border: 2px solid blue;
  margin-left: 50px;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
  // margin-left: 50px;
  margin-top: 50px;
}

.hero-info {
  margin-top: 50px;
  margin-left: 30px;
  width: 500px;
}

.hero-name {
  font-size: 50px;
  // float: left;
}

.description {
  // float: left;
  // margin-top: 40px;
  // text-align: left;
  // margin-left: 30px;
  // width: 100px;
}
form {
  margin-left: 50px;
  margin-top: 50px;
}

i {
  margin-top: 75px;
  color: blue;

}

body {
  background-color: red;

}
